[submodule "packages/yay-bin"]
	path = packages/yay-bin
	url = https://aur.archlinux.org/yay-bin.git
[submodule "packages/ltex-ls-plus-bin"]
	path = packages/ltex-ls-plus-bin
	url = https://aur.archlinux.org/ltex-ls-plus-bin.git
